.slide-container {
  display: flex !important;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  .container {
    width: 400px !important;
    svg {
      margin-right: 3px;
    }
    box-shadow: 0 8px 24px rgb(21 48 142 / 14%);
    margin-top: 20px;
    background-color: white;
  }
}
