@import "../../../base/assets/scss/common.scss";
.slide-auth {
  .ant-tabs-nav-list {
    width: 100%;
    display: flex;
    .ant-tabs-tab {
      flex: 1 1 0%;
      display: flex;
      justify-content: center;
    }
  }
  .forgot-password-btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 30px;
  }
}
