.class-food-option {
  display: flex;
  .food-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  .food-name {
    display: block;
    margin-left: 20px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
