.app-layout {
  width: 100vw;
  height: 100vh;
  .app-layout-header {
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
      0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  }
  .logo-text {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(
      to right,
      #462523 0,
      #cb9b51 22%,
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
    );
    cursor: pointer;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    user-select: none;
  }
  .app-layout-sider {
    height: calc(100vh - 64px);
    .ant-layout-sider-children {
      height: calc(100vh - 64px - 48px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
